/* zero style */
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@200;300;400;700;900&display=swap');
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
    font-family: 'Montserrat Alternates', sans-serif;
    cursor: none !important;
}
li {
	list-style: none;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}

h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
img {
	vertical-align: top;
}

html {
	font-size: 16px;
}
body {
	line-height: 1;
}
.main{
    padding-left: 90px;
}
/**______menu_____*/
.menu{
background-color: black;
display: flex;
flex-direction: column;
width: 90px;
height: 100%;
position: fixed;
top: 0;
left: 0;
padding: 20px;
}
.menu__list{
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.menu__img:hover{
    transform: scale(1.3);
    transition: all 0.2s ease 0s;
}
.logo{
    margin-bottom: 50px;
}
/**______social_____*/
.social{
    background-color: black;
    display: flex;
    flex-direction: column;
    width: 50px;
    height: 20%;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 100;
}
.social__list{
    height: 170px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.social__item{
    margin: 10px;
}
.social__item:hover{
    transform: scale(1.3);
    transition: all 0.2s ease 0s;
}
/**______header__body______*/
.header__row{
    display: flex;
    height: 100vh;
    margin-left: 90px;
}
.header__block-left{
    flex-wrap: wrap;
}
.header__block-left, .header__block-right{
    width: 50%;
    height: 100%;
    display: flex;
}
.color{
    width: 50%;
    height: 50%;
}
.dark-blue{
    background-color: #23536d;
}
.red{
    background-color: #ff6969;
}
.yellow{
    background-color: #ffe49d;
}
.blue{
    background-color: #67c5e2;
    border-radius: 0 0 50% 0;
}


/**_____header-right_____*/
.header__block-right {
    flex-direction: column;
    padding-left: 70px;
    justify-content: space-between;
}
.header__title {
    font-size: 150px;
    font-weight: 300;
    text-align: right;
}
.header__title span{
    font-weight: 700;
}
.header__skill {
    display: flex;
    flex-wrap: wrap;
}
.skill__item {
    background-color: #f0f0f0;
    width: 40%;
    text-align: center;
    border-radius: 50px;
    flex-grow: 1;
    margin: 10px;
    padding: 10px 0 10px 0;
    font-weight: 700;
}

/**______about______*/
.about{
    width: 100%;
    height: 100vh;
    position: relative;
}
.about__content{
    display: flex;
    width: 100%;
    height: 100%;
}
.about__title{
    font-size: 40px;
    font-weight: 700;
    color: #f0f0f0;
}
.about__bg{
    width: 100%;
    height: 100%;
    background-color: #ff6969;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.about__text{
    font-size: 20px;
    font-weight: 500;
    color: #f0f0f0;
    margin-right: 20px;
}
.bg__title{
    font-size: 120px;
    opacity: 0.3;
    font-weight: 600;
}
.block1{
    width: 220px;
    height: 220px;
    background-color: #062f76;
    border-radius: 0 30px 0 30px;
    box-shadow:  10px 10px 0px #000;
    align-self: flex-end;
}
.block2{
    width: 150px;
    height: 150px;
    background-color: #087973;
    border-radius: 0 30px 0 30px;
    box-shadow:  10px 10px 0px #000;
}
.block3{
    width: 220px;
    height: 150px;
    background-color: #921088;
    border-radius: 0 30px 0 30px;
    box-shadow:  10px 10px 0px #000;
    align-self: flex-start;
}
.about__content-left {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.about__content-right {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

/**______advent______*/
.advant {
    position: relative;
    width: 100%;
    height: 100vh;
}
.advant__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    width: 100%;
    height: 100%;
}
.advant__title {
    width: 50%;
    font-size: 40px;
    font-weight: 700;
    color: #000000;
}
.advant__text {
    width: 50%;
    font-size: 40px;
    font-weight: 500;
    color: #000000;
}
.advent__img{
    max-width: 100%;
    width: 40%;
    flex-grow: 1;
}
.advent__bg {
    width: 100%;
    height: 100%;
    background-color: #ffe49d;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.advent__bg-text {
    font-size: 120px;
    font-weight: 600;
    opacity: 0.3;
}
/**________phtography________*/
.photography {
    display: flex;
    width: 100%;
    height: 100vh;
}
.phtography__left {
    width: 40%;
    height: 100%;
}
.phtography__picture {
    background: url("../img/pictures/4th-section-img.png") center/cover no-repeat;
    width: 100%;
    height: 100%;
}
.phtography__rigth {
    position: relative;
    width: 60%;
    height: 100%;
    overflow: hidden;
}
.phtography__content{
}
.phtography__title {
font-weight: 700;
font-size: 40px;
text-align: right;
color: #f0f0f0;
}
.phtography__text {
font-size: 30px;
text-align: right;
color: #f0f0f0;
}
.phtography__bg{
    background-color: #23536d;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -666;
    top: 0;
    left: 0;
}
.phtography__bg-text {
    font-size: 120px;
    font-weight: 600;
    opacity: 0.3;
}
.phtography__bg-picture {
    background: url("../img/pictures/4th-section-bg.svg") center/cover no-repeat;
    width: 100%;
    height: 35%;
}
/**______gallery______*/
.gallery {
    width: 100%;
    height: 100%;
}
.gallery__title {
padding: 50px 0 50px 0;
text-align: right;
background-color: #ff6969;
}
.gallery__title-top {
    font-size: 40px;
    font-weight: 700;
    color: #fff;
}
.gallery__content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.gallery__wrap {
    width: 50%;
}
.gallery__wrap:last-child{
    width: 100%;
}
.gallery__img {
    width: 100%;
    height: 100%;
    opacity: 0.5;
}
.gallery__img:hover{
    opacity: 1;
    transition: 0.3s;
}

/**______contact______*/
.contact {
    width: 100%;
    height: 100vh;
}
.contact__content {
    width: 100%;
    height: 100%;
    display: flex;
}
.contact__left-section {
    background: url("../img/pictures/form-left.png") center/cover no-repeat;
    height: 100%;
    width: 20%;
}
.contact__center-section {
    height: 100%;
    width: 60%;
    min-width: 350px;
    background-color: #23536d;
}
.contact__title {
    font-size: 50px;
    font-weight: 700;
    color: #fff;
    text-align: right;
    padding: 50px 0 50px 0;
}
.contact__form {
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.form__label {
    margin: 0 0 10px 0;
    font-size: 30px;
    color: #fff;
}
.text__input, .text__select {
    margin-bottom: 35px;
    padding: 10px 0 10px 10px;
}
.text__select{
}
.contact__right-section {
    background: url("../img/pictures/form-right.png") center/cover no-repeat;
    height: 100%;
    width: 20%;
}
.check__input {
width: 30px;
height: 30px;
}
.button{
width: 250px;
margin: 70px auto;
padding: 20px 0 20px 0;
border-radius: 0 15px 0 15px;
color: #fff;
background-color: black;
font-weight: 600;
}
.button:hover{
    background-color: #222;
    transform: scale(1.2);
    transition: all 0.2s ease 0s;
}

